table 
{
    width: 100%;
    border-collapse: collapse;
}
tr
{
    margin: 30px;
}

.footerItem
{
    text-decoration: underline;
}
.flex-container > a
{
    padding: 0 5px;
}

.h1
{
  padding: 15px 30px;  
  text-decoration: underline;
  text-align: center;
}

.leftcolumn 
{   
  float: left;
  width: 75%;
}

.rightcolumn 
{
  float: left;
  width: 25%;
  padding-left: 20px;
}

.img 
{
  background-color: #aaa;
  width: 100%;
  padding: 2px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.card 
{
   background-color: white;
   padding: 15px;
   margin-top: 20px;
}

.row:after
{
  content: "";
  display: table;
  clear: both;
}

.footer 
{
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) 
{
    .leftcolumn, .rightcolumn 
    {   
        width: 100%;
        padding: 0;
    }
}